<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>person</mat-icon>
    <span>{{fullName}}</span>
  </button>
  <button (click)="openDialog()" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Einstellungen</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Abmelden</span>
  </button>
</mat-menu>
